
body {
  background-color: #2b2d30;
  font-family: 'Roboto';
  color: #b3b3b3;
}
body.grabbing { cursor: grabbing; }


/*gw-temperature*/
.gw-temperature {
  margin: 20px 0;
}
.gw-temperature .gw-temperature__wrapper {
  display: flex;
  justify-content: space-around;
}
.gw-temperature .gw-temperature__value {
  font-size: 54px;
  font-weight: 600;
}
.gw-temperature .gw-temperature__icon {
  display: flex;
  align-items: center;
}
/*gw-temperature*/


.gw-stats {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

/*tabber*/
.tabber {
  margin-top: 20px;
  font-size: 14px;
}
.tabber__content {
  margin-top: 20px;
}
.tabber__content a {
  text-decoration: none;
  color: rgb(105, 103, 221);
}
.tabber__content a:hover {
  text-decoration: underline;
}
.tabber__tab {
  display: inline-block;
  padding: 0 25px;
}
.tabber__tab:first-child { padding-left: 0; }
.tabber__tab:last-child { padding-right: 0; }

.tabber__tab .tabber__text {
  border-bottom: 3px solid transparent;
  padding-bottom: 7px;
  font-weight: 500;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
.tabber__tab.tabber__tab_current .tabber__text {
  border-bottom: 3px solid rgb(105, 103, 221);
}
/*tabber*/


/*chart-container*/
.chart-container {
  position: relative;
  overflow: hidden;
}
.chart-container > .chart-container__tooltip {
  position: absolute;
  background-color: #D7D7D7;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: rgb(78, 78, 78);
  padding: 4px 10px;
  border-radius: 15px;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
}
/*chart-container*/


/*chartminified-container*/
.chartminified-container {
  position: relative;
}
.chartminified-container > .chartminified-container__viewbox {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #6e6e6e;
  opacity: .75;
  height: 100%;
  cursor: grab;
}
.chartminified-container > .chartminified-container__viewbox.grabbing { 
  cursor: grabbing;
}
/*chartminified-container*/